html {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: black;
}

#viewport {
    position: relative;
    width: 640px;
    height: 256px;
    overflow-x: auto;
    background-image: url('../images/water0.png');
}

#ports {
    display: flex;
    justify-content: space-around;
    margin-top: 96px;
}

#ports > .port {
    width: 64px;
    height: 32px;
    background-image: url('../images/port.png');
}

#ship {
    position: absolute;
    width: 128px;
    height: 64px;
    background-image: url('../images/ship.png');
}